# Database configuration
DATABASE_URL=postgresql://postgres:postgres@db:5432/donation_db
TEST_DATABASE_URL=postgresql://postgres:postgres@db:5432/test_donation_db

# Security
SECRET_KEY=supersecretkey_please_change_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ALGORITHM=HS256
